# Global ignores
*~
*.pyc
*.swp
Makefile
Makefile.in

# /
/*.userprefs
/*.usertasks
/*.diff
/*.patch
/*.usertasks
/configure
/config.*
/config.status
/depcomp
/autom4te.cache
/missing
/aclocal.m4
/install-sh
/intltool-update
/intltool-update.in
/intltool-merge
/intltool-merge.in
/intltool-extract
/intltool-extract.in
/gnome-doc-utils.make
/INSTALL
/libtool
/ltmain.sh
/mkinstalldirs
/pot-update
/stamp-h1
/tomboy.spec
/*.tar.gz
/*.suo
/*.csproj.user
/*.mdb
/*.dll
/*.pidb

# /data
/data/org.gnome.Tasque.service
/data/tomboy-addins.pc
/data/*.desktop
/data/*.schemas
!/data/Makefile.in

# /help
/help/*.omf
/help/*/*.xml
/help/*/*.mo

# /po
/po/*.gmo
/po/POTFILES
/po/Makefile.in.in
/po/cat-id-tbl.c
/po/.intltool-merge-cache
/po/messages
/po/missing
/po/*.mo
/po/notexist
/po/po2tbl.sed.*
/po/*.pot
/po/stamp-cat-id

# /src/Gtk.Tasque/
/src/Gtk.Tasque/*.dll
/src/Gtk.Tasque/*.exe
/src/Gtk.Tasque/*.mdb
/src/Gtk.Tasque/*.pdb
/src/Gtk.Tasque/*.pc
/src/Gtk.Tasque/tasque
/src/Gtk.Tasque/Defines.cs
/src/Gtk.Tasque/obj/
/src/Gtk.Tasque/locale/

# /src/libtasque/
/src/libtasque/*.dll
/src/libtasque/*.mdb
/src/libtasque/*.pdb
/src/libtasque/obj/

# /src/Addins/*/
/src/Addins/*/*.dll
/src/Addins/*/*.mdb
/src/Addins/*/*.pdb
/src/Addins/*/obj/
/src/Addins/*/*.exe
/src/Addins/*/*.exe.Defines.config

# /src/Addins/Backends/*/
/src/Addins/Backends/*/*.dll
/src/Addins/Backends/*/*.mdb
/src/Addins/Backends/*/*.pdb
/src/Addins/Backends/*/obj/

# /src/Libraries/RtmNet
/src/Libraries/RtmNet/*.dll
/src/Libraries/RtmNet/*.mdb
/src/Libraries/RtmNet/*.pdb
/src/Libraries/RtmNet/obj/

# /build/
/build/*.dll
/build/*.mdb
/build/*.pdb
/build/obj/
/build/bin/

# /tests/
/tests/*.dll
/tests/*.mdb
/tests/*.pdb
/tests/obj/
/tests/Tasque.exe
/tests/Tasque.exe.config
/tests/Tasque.exe.Defines.config

# /tests/libtasque.Test/
/tests/libtasque.Test/bin/
/tests/libtasque.Test/obj/
/tests/libtasque.Test/test-results/

# /WindowsSetup/
/WindowsSetup/obj/
/WindowsSetup/bin/
