<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Tasque">
          <Directory Id="DATADIR" Name="tasque">
            <Directory Id="icons" Name="icons">
              <Directory Id="hicolor" Name="hicolor">
                <Directory Id="_6x16" Name="16x16">
                  <Directory Id="actions16" Name="actions" />
                  <Directory Id="apps16" Name="apps" />
                  <Directory Id="places16" Name="places" />
                  <Directory Id="status16" Name="status" />
                </Directory>
                <Directory Id="_2x22" Name="22x22">
                  <Directory Id="actions22" Name="actions" />
                  <Directory Id="apps22" Name="apps" />
                  <Directory Id="places22" Name="places" />
                  <Directory Id="status22" Name="status" />
                </Directory>
                <Directory Id="_4x24" Name="24x24">
                  <Directory Id="actions24" Name="actions" />
                  <Directory Id="apps24" Name="apps" />
                  <Directory Id="places24" Name="places" />
                  <Directory Id="status24" Name="status" />
                </Directory>
                <Directory Id="_2x32" Name="32x32">
                  <Directory Id="actions32" Name="actions" />
                  <Directory Id="apps32" Name="apps" />
                  <Directory Id="places32" Name="places" />
                  <Directory Id="status32" Name="status" />
                </Directory>
                <Directory Id="_8x48" Name="48x48">
                  <Directory Id="actions48" Name="actions" />
                  <Directory Id="apps48" Name="apps" />
                  <Directory Id="places48" Name="places" />
                  <Directory Id="status48" Name="status" />
                </Directory>
                <Directory Id="_28x128" Name="128x128">
                  <Directory Id="actions128" Name="actions" />
                  <Directory Id="apps128" Name="apps" />
                  <Directory Id="places128" Name="places" />
                  <Directory Id="status128" Name="status" />
                </Directory>
                <Directory Id="scalable" Name="scalable">
                  <Directory Id="actions" Name="actions" />
                  <Directory Id="apps" Name="apps" />
                  <Directory Id="places" Name="places" />
                  <Directory Id="status" Name="status" />
                </Directory>
              </Directory>
            </Directory>
            <Directory Id="sounds" Name="sounds" />
            <Directory Id="locale" Name="locale">
              <Directory Id="ca" Name="ca">
                <Directory Id="ca_lc_msg" Name="LC_MESSAGES" />
              </Directory>
              <Directory Id="ca_valencia" Name="ca@valencia">
                <Directory Id="ca_valencia_lc_msg" Name="LC_MESSAGES" />
              </Directory>
              <Directory Id="cs" Name="cs">
                <Directory Id="cs_lc_msg" Name="LC_MESSAGES" />
              </Directory>
              <Directory Id="da" Name="da">
                <Directory Id="da_lc_msg" Name="LC_MESSAGES" />
              </Directory>
              <Directory Id="de" Name="de">
                <Directory Id="de_lc_msg" Name="LC_MESSAGES" />
              </Directory>
              <Directory Id="el" Name="el">
                <Directory Id="el_lc_msg" Name="LC_MESSAGES" />
              </Directory>
              <Directory Id="en_gb" Name="en_GB">
                <Directory Id="en_gb_lc_msg" Name="LC_MESSAGES" />
              </Directory>
              <Directory Id="eo" Name="eo">
                <Directory Id="eo_lc_msg" Name="LC_MESSAGES" />
              </Directory>
              <Directory Id="es" Name="es">
                <Directory Id="es_lc_msg" Name="LC_MESSAGES" />
              </Directory>
              <Directory Id="et" Name="et">
                <Directory Id="et_lc_msg" Name="LC_MESSAGES" />
              </Directory>
              <Directory Id="fi" Name="fi">
                <Directory Id="fi_lc_msg" Name="LC_MESSAGES" />
              </Directory>
              <Directory Id="fr" Name="fr">
                <Directory Id="fr_lc_msg" Name="LC_MESSAGES" />
              </Directory>
              <Directory Id="gl" Name="gl">
                <Directory Id="gl_lc_msg" Name="LC_MESSAGES" />
              </Directory>
              <Directory Id="hu" Name="hu">
                <Directory Id="hu_lc_msg" Name="LC_MESSAGES" />
              </Directory>
              <Directory Id="id" Name="id">
                <Directory Id="id_lc_msg" Name="LC_MESSAGES" />
              </Directory>
              <Directory Id="it" Name="it">
                <Directory Id="it_lc_msg" Name="LC_MESSAGES" />
              </Directory>
              <Directory Id="ja" Name="ja">
                <Directory Id="ja_lc_msg" Name="LC_MESSAGES" />
              </Directory>
              <Directory Id="lv" Name="lv">
                <Directory Id="lv_lc_msg" Name="LC_MESSAGES" />
              </Directory>
              <Directory Id="nb" Name="nb">
                <Directory Id="nb_lc_msg" Name="LC_MESSAGES" />
              </Directory>
              <Directory Id="nds" Name="nds">
                <Directory Id="nds_lc_msg" Name="LC_MESSAGES" />
              </Directory>
              <Directory Id="nl" Name="nl">
                <Directory Id="nl_lc_msg" Name="LC_MESSAGES" />
              </Directory>
              <Directory Id="pl" Name="pl">
                <Directory Id="pl_lc_msg" Name="LC_MESSAGES" />
              </Directory>
              <Directory Id="pt" Name="pt">
                <Directory Id="pt_lc_msg" Name="LC_MESSAGES" />
              </Directory>
              <Directory Id="pt_br" Name="pt_BR">
                <Directory Id="pt_br_lc_msg" Name="LC_MESSAGES" />
              </Directory>
              <Directory Id="ro" Name="ro">
                <Directory Id="ro_lc_msg" Name="LC_MESSAGES" />
              </Directory>
              <Directory Id="ru" Name="ru">
                <Directory Id="ru_lc_msg" Name="LC_MESSAGES" />
              </Directory>
              <Directory Id="sl" Name="sl">
                <Directory Id="sl_lc_msg" Name="LC_MESSAGES" />
              </Directory>
              <Directory Id="sr" Name="sr">
                <Directory Id="sr_lc_msg" Name="LC_MESSAGES" />
              </Directory>
              <Directory Id="sr_latin" Name="sr@latin">
                <Directory Id="sr_latin_lc_msg" Name="LC_MESSAGES" />
              </Directory>
              <Directory Id="sv" Name="sv">
                <Directory Id="sv_lc_msg" Name="LC_MESSAGES" />
              </Directory>
              <Directory Id="th" Name="th">
                <Directory Id="th_lc_msg" Name="LC_MESSAGES" />
              </Directory>
              <Directory Id="tr" Name="tr">
                <Directory Id="tr_lc_msg" Name="LC_MESSAGES" />
              </Directory>
              <Directory Id="zh_cn" Name="zh_CN">
                <Directory Id="zh_cn_lc_msg" Name="LC_MESSAGES" />
              </Directory>
              <Directory Id="zh_tw" Name="zh_TW">
                <Directory Id="zh_TW_lc_msg" Name="LC_MESSAGES" />
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder" Name="Programs" />
      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>
  </Fragment>
</Wix>