<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
	<Product Id="*" Name="Tasque" Language="1033" Version="0.1.12" Manufacturer="Tasque Project" UpgradeCode="d4720f75-fd29-4014-9fbe-bd5a6473c48f">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <!--
			The install directory will be stored in the registry 
			this way, future "upgrades" can auto-detect where to go
			TODO: HKLM access requires elevation on Vista, but so do
				"Program Files" installs. If we want non-elevated users
				to be able to install this as smoothly (outside of the
				"Program Files" folder), we need to fall back to HKCU?
		-->
    <Property Id="INSTALLFOLDER">
      <RegistrySearch Id='SearchTasqueInstallFolder' Type='directory' Root='HKLM' Key='Software\Tasque' Name='InstallFolder' />
    </Property>
    
    <Property Id="GTKSHARPNOVELLINSTALLVERSION">
      <RegistrySearch Id='GtksharpnovellRegistry' Type='raw' Root='HKLM' Key='Software\Novell\GtkSharp\Version' />
    </Property>
    <Condition Message="This setup requires Gtk# for .NET (version 2.12.10 or higher). Please download the latest installer from http://www.mono-project.com/GtkSharp ">
      <![CDATA[GTKSHARPNOVELLINSTALLVERSION >= "2.12.10" OR (GTKSHARPNOVELLINSTALLVERSION << "2.12.1" AND GTKSHARPNOVELLINSTALLVERSION <> "2.12.1") OR REMOVE ~= "ALL"]]>
    </Condition>
    <Condition Message='This setup requires the .NET Framework 2.0 or higher.'>
      <![CDATA[MsiNetAssemblySupport >= "2.0.50727"]]>
    </Condition>

    <PropertyRef Id="NETFRAMEWORK40CLIENT"/>
    <Condition Message="This application requires .NET Framework 4.0 Client Profile. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK40CLIENT]]>
    </Condition>

    <Feature Id="Complete" Title="Complete" Level="1">
      <ComponentGroupRef Id="TasqueComponents" />
      <ComponentGroupRef Id="TasqueResources" />
      <ComponentGroupRef Id="TasqueLocales" />
    </Feature>

    <Icon Id="Tasque.exe" SourceFile="..\data\images\tasque.ico" />

    <!-- Icon for "Add/Remove programs" entry and help link -->
    <Icon Id="icon.ico" SourceFile="..\data\images\tasque.ico" />
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    <Property Id="ARPHELPLINK" Value="https://live.gnome.org/Tasque" />
  </Product>
  
  <Fragment>
    <ComponentGroup Id="TasqueComponents" Directory="INSTALLFOLDER">
      <Component Id="TasqueCore" Guid="4A92C71A-7FE4-463D-B307-EE79C63614AF">
        <File Source="..\build\bin\lib\tasque\Tasque.exe" KeyPath="yes">
          <Shortcut Id="startmenuTasque" Directory="ProgramMenuFolder" Name="Tasque"
                    WorkingDirectory="INSTALLFOLDER" Icon="Tasque.exe" IconIndex="0" Advertise="yes" />
          <Shortcut Id="desktopTasque" Directory="DesktopFolder" Name="Tasque"
                    WorkingDirectory="INSTALLFOLDER" Icon="Tasque.exe" IconIndex="0" Advertise="yes" />
        </File>
        <File Id="Tasque.exe.Defines.config" Source="..\build\bin\lib\tasque\Tasque.exe.Defines.config" />
        <util:XmlFile Id="DataDirSetting" Action="setValue" Permanent="yes" File="[#Tasque.exe.Defines.config]"
                      ElementPath="/configuration/appSettings/add[\[]@key='DataDir'[\]]" Name="value" Value="[DATADIR]" />
        <File Source="..\build\bin\lib\tasque\libtasque.dll" />
        <File Source="..\build\bin\lib\tasque\Gtk.Tasque.dll" />
      </Component>
      <Component Id="UninstallInstallFolder" Guid="5360373A-0468-4B0C-A165-83F7EFACB8DA">
        <RegistryKey Root="HKLM" Key="Software\Tasque">
          <RegistryValue Id="WriteTasqueInstallFolder" Name="InstallFolder" Action="write" Type="string" Value="[INSTALLFOLDER]" KeyPath="yes" />
        </RegistryKey>
      </Component>
      <Component Id="RtmBackend" Guid="4349FD13-ECB7-4FF9-AB7C-A2E43A41A701">
        <File Source="..\build\bin\lib\tasque\RtmBackend.dll" KeyPath="yes" />
        <File Source="..\build\bin\lib\tasque\RtmNet.dll" />
      </Component>
      <Component Id="SqliteBackend" Guid="4105A846-B570-42FD-A268-63F9DC8E9230">
        <File Source="..\build\bin\lib\tasque\SqliteBackend.dll" KeyPath="yes" />
        <File Source="..\build\bin\lib\tasque\Mono.Data.Sqlite.dll" />
        <File Source="..\build\bin\lib\tasque\sqlite3.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>